<!-- 页面header -->
<block name="include"><include file="Public:index_header" /></block>

<body>
<div id="body">
	<div id="header">
    	<div class="wrapper">
    		<a  href="{:U('Index/index')}" class="logo">
    			<img src="{:C('Base_Url')}images/logo4.png" width="400" height="83" alt="招聘" />
    		</a>
    		<div class="searchBox" >
    			<form id="searchForm" name="searchForm" action="http://127.0.0.1/newfish/index.php/Home/Index/search/" method="get">
			        <input type="text" id="search_input" name = "work_title"  tabindex="1" value=""  placeholder="请输入职位名称，如：产品经理,程序员"  />
	                <input type="submit" id="search_button" value="搜索" />
	            </form>

    		</div>
        </div>
		<!-- <input type="button" id="search_button" value="个人中心"  style="margin-top: -35px;" onclick="location='{:U('Index/come')}'"/> -->
    </div><!-- end #header -->
    	    <div class="sliderbar">
	    	<!-- 图片轮播 -->
			 <div class="slider"> 
			  <ul class="slider-main"> 
			   <li class="slider-panel"> 
			    <a href="" target="_blank"><img alt="" title="" src="{:C('Base_Url')}images/head1.png"></a>
			   </li> 
			   <li class="slider-panel"> 
			    <a href="" target="_blank"><img alt="" title="" src="{:C('Base_Url')}images/head2.png"></a>
			   </li> 
			  </ul> 
			  <div class="slider-extra"> 
			   <ul class="slider-nav"> 
			    <li class="slider-item">1</li> 
			    <li class="slider-item">2</li> 
			   </ul> 
			   <div class="slider-page"> 
			    <a class="slider-pre" href="javascript:;;"><</a> 
			    <a class="slider-next" href="javascript:;;">></a> 
			   </div> 
			  </div>
			  </div>
	    </div>
	    <!--end -->
	<div id="container" >
		<div class="content">
			<style>
			.ui-autocomplete{width:488px;background:#fafafa !important;position: relative;z-index:10;border: 2px solid #91cebe;}
			.ui-autocomplete-category{font-size:16px;color:#999;width:50px;position: absolute;z-index:11; right: 0px;/*top: 6px; */text-align:center;border-top: 1px dashed #e5e5e5;padding:5px 0;}
			.ui-menu-item{ *width:439px;vertical-align: middle;position: relative;margin: 0px;margin-right: 50px !important;background:#fff;border-right: 1px dashed #ededed;}
			.ui-menu-item a{display:block;overflow:hidden;}
			</style>
			<script type="text/javascript" src="js/search.min.js"></script>
			<dl class="company_center_content">
                <dt>
                    <h1><em></em>最新职位</h1>
                </dt>
                <dd>
			            <ul class="reset my_jobs">
                         <volist name="lists2" id="vo">
                          <form id="searchForm" action="{:U('Resume/sendresume')}" method="post">
                          <input type="hidden" value="{$vo.workid}" name="workid">
                          <input type="hidden" value="{$vo.work_title}" name="work_title">
				            <li data-id="149594">
		                        <h3>
		                            <a target="_blank"  href="http://127.0.0.1/newfish/index.php/Home/Work/workinfo/workid/{$vo.workid}">{$vo.work_title}</a>
		                            <span>[{$vo.workaddress}]</span>
		                        </h3>
		                        <span class="receivedResumeNo">
		                            <a href="http://127.0.0.1/newfish/index.php/Home/Work/workneed/workid/{$vo.workid}">应聘简历({$vo.count})</a>
		                        </span>
		                        <div>{$vo.positionname}/ {$vo.salarymin}k-{$vo.salarymax}k / {$vo.workyear}年 / {$vo.education}及以上</div>
		                        <div class="c9" style="font-size: 14px;">发布时间： {$vo.create_time}</div>
								<div class="links">
                                 <input type="submit" class="job_del" value="投递">
								</div>
		                    </li>
                    </form>
                     </volist>
	                    </ul>
		        </dd>
            </dl>
            <dl class="company_center_content">
                <dt>
                    <h1><em></em>最新简历</h1>
                </dt>
                <dd>
			            <ul class="reset my_jobs">
                         <volist name="lists2" id="vo">
                          <form id="searchForm" action="{:U('Resume/sendresume')}" method="post">
                          <input type="hidden" value="{$vo.workid}" name="workid">
                          <input type="hidden" value="{$vo.work_title}" name="work_title">
				            <li data-id="149594">
		                        <h3>
		                            <a target="_blank"  href="http://127.0.0.1/newfish/index.php/Home/Work/workinfo/workid/{$vo.workid}">{$vo.work_title}</a>
		                            <span>[{$vo.workaddress}]</span>
		                        </h3>
		                        <span class="receivedResumeNo">
		                            <a href="unHandleResumes.html?positionId=149594">应聘简历({$vo.count})</a>
		                        </span>
		                        <div>{$vo.positionname}/ {$vo.salarymin}k-{$vo.salarymax}k / {$vo.workyear}年 / {$vo.education}及以上</div>
		                        <div class="c9" style="font-size: 14px;">发布时间： {$vo.create_time}</div>
								<div class="links">
                                 <input type="submit" class="job_del" value="投递">
								</div>
		                    </li>
                    </form>
                     </volist>
	                    </ul>
		        </dd>
            </dl>
	    </div>
	    <div id="sidebar">
			<div class="mainNavs">
				<div class="menu_box">
					<div class="menu_main">
						<a class="sidebarHref" href="{:U('Register/index')}" title="快速注册"><h2>快速注册<span></span></h2></a>
					</div>
				</div>
				<div class="menu_box">
					<div class="menu_main">
						<a class="sidebarHref" href="{:U('Login/index')}" title="学生登录"><h2>学生登录<span></span></h2></a>
					</div>
				</div>
				<div class="menu_box">
					<div class="menu_main">
						<a class="sidebarHref" href="{:U('Login/index_work')}" title="企业用户登陆"><h2>企业用户登陆<span></span></h2></a>
					</div>
				</div>
				<div class="menu_box">
					<div class="menu_main">
						<a class="sidebarHref" href="{:U('Login/index_admin')}" title="管理员登陆"><h2>管理员登陆<span></span></h2></a>
					</div>
				</div>
				<div class="menu_box">
					<div class="menu_main">
						<a class="sidebarHref" href="{:U('Index/come')}" title="个人中心"><h2>个人中心<span></span></h2></a>
					</div>
				</div>
			</div>			
			<div class="urgent-block" id="emergencybox">
				<div class="urgent-title clearfix">
					<h4 class="f-left">新闻公告</h4>
					<a href="" class="underline f-right" target="_blank" style="position:relative;right: -100px">更多&gt;&gt;</a>
				</div>
				<ul class="urgent-list">	
					<li class="clearfix">
					    <a href="" class="u-com f-left underline" target="_blank">1.淮南恩杰教育咨询有限公司</a>
					    <a href="" class="u-job f-left underline" title="幼儿教师" target="_blank">幼儿教师</a>
					</li>
					<li class="clearfix">
					    <a href="" class="u-com f-left underline" target="_blank">1.淮南恩杰教育咨询有限公司</a>
					    <a href="" class="u-job f-left underline" title="幼儿教师" target="_blank">幼儿教师</a>
					</li>
					<li class="clearfix">
					    <a href="" class="u-com f-left underline" target="_blank">1.淮南恩杰教育咨询有限公司</a>
					    <a href="" class="u-job f-left underline" title="幼儿教师" target="_blank">幼儿教师</a>
					</li>
					<li class="clearfix">
					    <a href="" class="u-com f-left underline" target="_blank">1.淮南恩杰教育咨询有限公司</a>
					    <a href="" class="u-job f-left underline" title="幼儿教师" target="_blank">幼儿教师</a>
					</li>
					<li class="clearfix">
					    <a href="" class="u-com f-left underline" target="_blank">1.淮南恩杰教育咨询有限公司</a>
					    <a href="" class="u-job f-left underline" title="幼儿教师" target="_blank">幼儿教师</a>
					</li>
					<li class="clearfix">
					    <a href="" class="u-com f-left underline" target="_blank">1.淮南恩杰教育咨询有限公司</a>
					    <a href="" class="u-job f-left underline" title="幼儿教师" target="_blank">幼儿教师</a>
					</li>
				</ul>
			</div>

			<div class="mainNavs" style="margin-top:20px; ">
				<div class="menu_box">
					<div class="menu_main">
						<a class="sidebarHref" title="联系我们"><h2>联系我们</h2></a>
					</div>
				</div>
				<div class="menu_main">
				    <p>浙江财经大学校务处</p>
				    <p>电话：123456789</p>
				    <p>邮箱：123456789@qq.com</p>
					<p>地址：杭州+++++++++ </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 页面footer -->
<block name="include"><include file="Public:index_footer" /></block>