<block name="include"><include file="Public:header3" /></block>

<body id="login_bg">
<div class="login_wrapper" >
	<div class="login_header">
		<a href="{:U('Index/index')}"><img src="{:C('Base_Url')}images/logo4.png" width="400" height="83" alt="招聘" /></a>
	</div>
	<div class="login_box" style=" margin-top: -60px;">
		<form id="loginForm" action="{:U('Register/register_work')}" method="post">
			<legend>企业用户信息完善</legend>
			<input type="text" id="email" name="name" tabindex="1" placeholder="请输入企业公司名" value=""/>
			<input type="text" id="password" name="area" tabindex="2" placeholder="请输入企业公司地址" value=""/>
			<input type="text" id="name" name="username" tabindex="3" placeholder="请输入企业公司类别" value=""/>
			<input type="text" id="telphone" name="telphone" tabindex="4" placeholder="请输入企业公司规模" value=""/>
			<input type="text" id="telphone" name="telphone" tabindex="5" placeholder="请输入企业公司资金" value=""/>
			<input type="text" id="telphone" name="telphone" tabindex="6" placeholder="请输入企业公司法人代表" value=""/>
			<input type="text" id="telphone" name="telphone" tabindex="7" placeholder="请输入企业公司官网" value=""/>
			<input type="text" id="telphone" name="telphone" tabindex="8" placeholder="请输入企业公司联系方式" value=""/>
			<input type="submit" id="submitLogin" value="完 &nbsp; &nbsp; 善" />
			<input type = "hidden" name = "is_pass" value = "0">
		</form>
		<div class="login_right" name="type">
			<div>已有帐号</div>
			<a  href="{:U('Login/index')}"  class="registor_now">直接登录</a>
		</div>
	</div>
	<div class="login_box_btm"></div>
</div>

<script type="text/javascript">

	$(document).ready(function(e) {
		$('.register_radio li input').click(function(e){
			$(this).parent('li').addClass('current').append('<em></em>').siblings().removeClass('current').find('em').remove();
		});

		$('#email').focus(function(){
			$('#beError').hide();
		});
		//验证表单
		$("#loginForm").validate({
			rules: {
				type:{
					required: true
				},
				email: {
					required: true,
					email: true
				},
				password: {
					required: true,
					rangelength: [6,16]
				},
				repassword: {
					required: true,
					rangelength: [6,16]
				},
				user_type:  {
					required: true
				},
				checkbox:{required:true}
			},
			messages: {
				user_type:{
					required:"请选择注册用户的类别"
				},
				email: {
					required: "请输入常用邮箱地址",
					email: "请输入有效的邮箱地址，如：vivi@lagou.com"
				},
				password: {
					required: "请输入密码",
					rangelength: "请输入6-16位密码，字母区分大小写"
				},
				repassword: {
					required: "请输入密码",
					rangelength: "请输入6-16位密码，字母区分大小写"
				},
				checkbox: {
					required: "请接受用户协议"
				}
			},
			errorPlacement:function(label, element){/*
			 if(element.attr("type") == "radio"){
			 label.insertAfter($(element).parents('ul')).css('marginTop','-20px');
			 }else if(element.attr("type") == "checkbox"){
			 label.inserresult.contenttAfter($(element).parent()).css('clear','left');
			 }else{
			 label.insertAfter(element);
			 } */
				/*modify nancy*/
				if(element.attr("type") == "radio"){
					label.insertAfter($(element).parents('ul')).css('marginTop','-20px');
				}else if(element.attr("type") == "checkbox"){
					label.insertAfter($(element).parent()).css('clear','left');
				}else{
					label.insertAfter(element);
				};
			},
		});
	});

</script>
</body>
</html>
